/* Selector de tipo o elemento*/
body{
    background: #e0f1e7;;
}

form{
    background-color: white;
    margin: 10px;
}
/* Selector de clase*/
.color-label{
    color: rgb(233, 111, 11);
}

.letra-grande{
    font-size: 50px;
}

/*Selector de ID*/
#email{
    color:blue
}

/*Selecyot universal*/
*{
    margin: 0px;
    padding: 0px;
}

/*Selectores de atributo*/
input[type="text"]{
    background-color: olivedrab;
}

/*Selectores descendentes*/
#contenedor{
    width: 500px;
}